footer {
    background-color: #212121;
}
.footer {
    min-height: 350px;
    padding-top: 50px;
}
.footer .hr {
    width: 100%;
    height: 2px;
    background-color: #f0f0f079;
}
.footer .footer-title h2 {
    font-size: 23px;
    font-weight: 200;
}
.footer .footer-logo {
    margin-bottom: 35px;
}
.footer .footer-item span {
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.footer .footer-lk {    
    margin-top: 20px;
}
.footer .footer-lk img {
    margin-right: 15px;
}
.coppyright {
    background-color: #131313;
    padding: 0 50px;
}
.coppyright #logo {
    padding-top: 30px;
}
.coppyright .content-c {
    padding-top: 30px;
    padding-bottom: 15px;
}
.coppyright .content-c span {
    color: #505050;
    font-size: 14px;
    letter-spacing: 0.3px;
}
.footer .form-contr-cus {
    outline: none;
    background: no-repeat;
    border: none;
    border-bottom: 1px solid white;
    font-weight: 100;
    min-width: 250px;
    color: white;
    margin-top: 7px;
} 
.footer .form-contr-cus::placeholder {
    color: white;
    font-weight: 100;
}
.footer .submit-cus {
    background: no-repeat;
    border: 2px solid #838383;
    margin-top: 20px;
    color: white;
    border-radius: 7px;
    padding: 2px 30px;
    padding-top: 4px;
    font-size: 12px;
    font-weight: 200;
}
.coppyright .owl-carousel .owl-item img {
    width: unset !important;
}