@font-face {
    font-family: 'iCiel DIN Pro Condensed';
    src: url(/fonts/DinPro/DINPro-CondMedium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'iCiel DIN Pro Condensed';
    src: url(/fonts/DinPro/DINPro-CondLight.ttf);
    font-weight: 200;
}

.ketqua {
    background-color: #05574b;
    min-height: 2000px;
    padding: 100px 0;
    padding-bottom: 10px;
    background-image: url("/img/ket-qua-tra-cuu/bg-1.png");
    background-repeat: no-repeat;
}
.ketqua .conso {
    background-image: url("/img/ket-qua-tra-cuu/SO.png");
    min-height: 581px;
    background-repeat: no-repeat;
    position: relative;
}
.ketqua .conso .nb {
    position: absolute;
    left: 32%;
    top: 18%;
    font-size: 250px;
    font-weight: 100;
    color: white;
}
.ketqua .table-kq {
    margin: auto;
    max-width: 540px;
}
.ketqua .table-kq .title h5 {
    font-size: 18px;
    margin-bottom: 20px;
}
.ketqua table {
    border-top: 1px solid white;
}
.ketqua table td {
    padding: 10px 20px;
    padding-top: 15px;
    font-size: 17px;
    letter-spacing: 0.3px;
}
.ketqua table .header {
    border-right: 1px solid white;
    width: 135px;
    background-color: #097364;
}
.ketqua .conso-qk {
    background-image: url("/img/ket-qua-tra-cuu/1.png");
    min-height: 273px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 91px;
    margin-left: 41px;
    position: relative;
    max-width: 530px;
    margin: auto;
    margin-top: 76px;
}
.ketqua .number {
    position: absolute;
    font-size: 16px;
}
.ketqua .number-1 {
    right: 0;
    left: 0;
    top: -36px;
}
.ketqua .number-2 {
    right: 0;
    left: 0;
    top: 35px;
}
.ketqua .number-3 {
    right: 0;
    left: 0;
    top: 65px;
}
.ketqua .number-4 {
    right: 0;
    left: 0;
    top: 118px;
}
.ketqua .number-5 {
    left: 31.85%;
    top: 61%;
}
.ketqua .number-6 {
    right: 33%;
    top: 61%;
}
.ketqua .number-7 {
    bottom: 9%;
    left: 27%;
}
.ketqua .number-8 {
    bottom: 9%;
    right: 27%;
}
.ketqua .number-9 {
    bottom: -15%;
    left: 12%;
}
.ketqua .number-10 {
    bottom: -15%;
    right: 12%;
}
.ketqua .number-11 {
    bottom: -15%;
    right: 0;
    text-align: center;
    left: 0;
}
.ketqua .btn-tt {
    margin-left: 41px;
    margin-top: 100px;
    text-align: center;
}
.ketqua .btn-tt button {
    background-color: #097364;
    border: none;
    color: white;
    font-weight: 200;
    padding: 0 30px;
    padding-top: 13px;
    padding-bottom: 10px;
}

.slide-ketqua {
    background-color: #097364;
    padding: 65px 20px;
    padding-bottom: 300px;
}
.content-ketqua .desc.title.text-white h3 {
    font-weight: 200;
    font-size: 24px;
    margin-bottom: 20px;
}
.content-ketqua .item .title-item:hover {
    cursor: pointer;
}
.content-ketqua .item {
    min-height: 85px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}
.content-ketqua .item.active {
    background-color: #097364;
}
.content-ketqua .fake-line {
    position: absolute;
    width: 1px;
    height: 100%;
    background: #efba86;
    top: 0;
    bottom: 0;
    left: 35px;
}

.content-ketqua .item .fake-icon {
    margin-left: 20px;
    position: relative;
    background-color: #05574b;
    border-radius: 50%;
}
.content-ketqua .item .title-item {
    margin-left: 30px;
}
.content-ketqua .item .title-item h3 {
    font-size: 20px;
    letter-spacing: 0.3px;
    margin: 0;
    font-family: 'iCiel DIN Pro Condensed';
}
.slide-ketqua .desc {
    max-width: 995px;
    margin: auto;
    margin-bottom: 20px;
    line-height: 20px;
}
.content-ketqua .item .fake-icon .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #efba86;
}
.content-ketqua .item.active .fake-icon .icon::after {
    content: "";
    top: 7px;
    left: 7px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #efba86;
    position: absolute;
}
.content-ketqua .carousel-item {
    transition: .1s;
}
.content-ketqua .conso2 .title2 h4 {
    font-weight: 200;
    font-size: 21px;
}
.content-ketqua .bang-so {
    background-image: url("/img/ket-qua-tra-cuu/luoi.png");
    background-position-x: center;
    margin: auto;
    max-width: 252px;
    min-height: 252px;
    background-repeat: no-repeat;
}
.content-ketqua .bang-so .cs1 {
    font-size: 26px;
    font-weight: 500;
    min-height: 85px;
    line-height: 3.3;
}
.content-ketqua .share-ketqua {
    padding: 65px 0;
}
.content-ketqua .share-ketqua .clear-hr {
    width: 100%;
    border-bottom: 1.5px solid #798668;
    margin: 80px 0;
}
.content-ketqua .titlecs.text-center h4 {
    font-weight: 200;
    font-size: 21px;
    margin-right: 12%;
    text-transform: uppercase;
}
.content-ketqua .share-ketqua span.chiasetitle {
    font-weight: 200;
    font-size: 20px;
    margin-left: 10px;
}
.content-ketqua .desccs {
    margin: auto;
    margin-top: 25px;
    max-width: 600px;
    margin-left: 24%;
}
.btn-ketqua {
    margin-top: 50px;
    margin-right: 10%;
}
.btn-ketqua button {
    padding: 13px 30px;
    padding-bottom: 8px;
    background-color: #dfb081;
    color: white;
    border: none;
    border-radius: 5px;
    min-width: 280px;
    font-size: 27px;
    letter-spacing: 1px;
}
.slide-ketqua .desc {
    line-height: 35px;
}
.content-ketqua .bang-so .cs1 {
    font-size: 16px;
    font-weight: 300;
    min-height: 85px;
    line-height: normal;
}
.kimtuthap, .main-chart, .main-chart-2, .main-chart-3 {
    margin-bottom: 55px;
    position: relative;
    float: left;
}
.kimtuthap{
    margin-top: 234px;
    width: 100%;
    margin-left: -412px;
}
.data-number, .nang-luc {
    position: absolute;
    text-align: center;
    letter-spacing: .583333px;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
}
.chi-so-bd {
    color: #f5ee0d;
}
.chi-so-name {
    color: #ffffff;
}
.nang-luc {
    font-size: 16px;
}

.nang-luc-1 {
    top: 205px;
    left: 5px;
}
.nang-luc-2 {
    top: 120px;
    left: 5px;
}
.nang-luc-3 {
    top: 45px;
    left: 5px;
}
.nang-luc-4 {
    top: 205px;
    left: 90px;
}
.nang-luc-5 {
    top: 120px;
    left: 90px;
}
.nang-luc-6 {
    top: 45px;
    left: 90px;
}
.nang-luc-7 {
    top: 205px;
    left: 175px;
}
.nang-luc-8 {
    top: 120px;
    left: 175px;
}
.nang-luc-9 {
    top: 45px;
    left: 175px;
}
.custom-next-right {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 135px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 30%;
}
.custom-next-right.start {
    left: 7%;
    background-image: url("/img/ket-qua-tra-cuu/left.png");
}
.custom-next-right.end {
    right: 7%;
    background-image: url("/img/ket-qua-tra-cuu/right.png");
    background-position-x: right;
}
.custom-next-right .text-nr {
    font-weight: 200;
    font-family: 'iCiel DIN Pro Condensed';
    text-transform: uppercase;
    color: white;
    min-inline-size: max-content;
    font-size: 40px;
}
.custom-top {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 25px;
    width: fit-content;
    margin: auto;
}

.content-ketqua .form-input {
    margin-top: 20px;
}
.content-ketqua .form-input label {
    font-weight: 200;
    margin-bottom: 7px;
}
.content-ketqua .form-input input {
    height: 50px;
    padding: 0 15px;
    width: 100%;
    outline: none;
    color: #333333;
}
.content-ketqua button.mail-sm {
    padding: 8px 0px;
    padding-bottom: 7px;
    background-color: #dab066;
    border: none;
    border-radius: 5px;
    min-width: 175px;
    font-size: 23px;
    letter-spacing: 1px;
    margin-top: 52px;
    font-weight: 200;
    color: white;
    text-transform: uppercase;
}
