.post-slogan {
    padding-top: 23px;
    padding-bottom: 7px;
}
.post-slogan .title {
    position: relative;
}
.post-slogan .br-cs1 {
    position: absolute;
    height: 1px;
    width: 26.5%;
    top: 10px;
    background: #097364;
}
.post-slogan .br-cs2 {
    position: absolute;
    height: 1px;
    width: 26.5%;
    right: 0;
    top: 10px;
    background: #097364;
}
.post-slogan .title h1 {
    letter-spacing: 1px;
    color: #097364;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.post-main .post-name h2 {
    color: #097364;
    font-size: 30px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.post-main .post-tilte h4 {
    color: #555555;
    font-size: 24px;
}
.post-main .post-desc span {
    font-weight: 200;
    color: #555555;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.post-main .submit-post {
    padding: 0px 17px;
    color: white;
    background-color: #dab066;
    font-weight: 500;
    border-radius: 3px;
    padding-top: 3px;
    margin-top: 5px;
    width: fit-content;
}
