.post-slogan {
    padding-top: 15px;
    padding-bottom: 7px;
}
.post-slogan .title {
    position: relative;
}
.post-slogan .br-cs1 {
    position: absolute;
    height: 1px;
    width: 42%;
    top: 14px;
    background: #097364;
}
.post-slogan .br-cs2 {
    position: absolute;
    height: 1px;
    width: 42%;
    right: 0;
    top: 14px;
    background: #097364;
}
.post-slogan .title h1 {
    letter-spacing: 1px;
    color: #097364;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.post-main .post-name a:hover {
    text-decoration: revert;
    text-decoration-color: #097364;
}
.post-main .post-name h2 {
    color: #097364;
    font-size: 26px;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; */
    text-transform: uppercase;
}
.post-main .post-tilte h4 {
    color: #555555;
    font-size: 24px;
}
.post-main .post-item:hover .submit-post {
    height: 27px;
    padding-top: 3px;
}
.post-main .post-desc span {
    font-weight: 200;
    color: #555555;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
}
.post-main .submit-post {
    color: white;
    background-color: #dab066;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 5px;
    width: fit-content;
    height: 0;
    overflow: hidden;
    padding: 0px 17px;
    transition: .3s;
}
