.post-sloganDetail .title h1 {
    font-size: 35px;
    padding-top: 15px;
}
.post-sloganDetail .desc-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-sloganDetail .desc-1 h3 {
    color: #097364;
    font-size: 33px ;
}
.post-content {
    margin: auto;
}
.post-relate {
    background-color: #f8f8f8;
    padding-top: 90px;
    padding-bottom: 100px;
}
.post-relate .relate-title {
    font-size: 30px;
}
.post-relate .item-name {
    font-size: 30px;
    color: #097364;
}
.post-relate .item-title {
    color: #555555;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.post-relate .item-desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.post-relate .item-btn {
    margin-top: 20px;
    padding: 10px 70px;
    color: white;
    background-color: #dab066;
    font-weight: 500;
    font-size: 26px;
    border-radius: 5px;
    padding-top: 15px;
    width: fit-content;
}
.post-relate .post-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    min-height: 270px;
    background-position: center;
}

.title-lienquan {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.desc-lienquan {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.tags{
    border: 1px solid silver;
    padding: 10px 15px;
}
.post-content {
    overflow: hidden;
    text-align: justify;
}
.post-content img {
    max-width: 100%;
}
.post-content p {
    font-weight: 200;
}
