.mr-0 {
    margin-right: 0px !important;
}
.ketqua-service {
    background-color: #e7f1e9;
    margin-top: 0;
}
.ketqua-service .gia-tri-cot-loi {
    background-color: unset;
    min-height: unset;
    margin-top: 0;
    border-top-left-radius: unset;
    border-bottom-right-radius: unset;
}
.ketqua-service .gia-tri-cot-loi .d-flex {
    margin-bottom: 30px;
}
.ketqua-service .gia-tri-cot-loi .titlecotloi {
    padding-top: 100px;
}
.tieudegoi {
    background-color: #03402f;
}
.tieudegoi .tengoi h3 {
    color: #608f6c;
    margin-bottom: 0;
}
.tieudegoi .active {
    background-color: #097364;
}
.tieudegoi .active .tengoi h3 {
    color: white;
}
.tieudegoi .tengoi {
    text-align: center;
    padding: 53px 0;
}
.thongtingoi .maingoi {
    background-color: #097364;
    background-color: white;
}
.thongtingoi .carousel-item {
    transition: transform 0.1s !important;
}
.sanpham {
    background-color: #097364;
    min-height: unset;
    padding: unset;
    background-image: unset;
}
.sanpham .content-ketqua .share-ketqua {
    padding: 150px 0;
}
.sanpham .content-ketqua .titlecs.text-center h4 {
    margin-right: 0%;
}
.sanpham .content-ketqua .desccs {
    margin-left: 0%;
    margin: auto;
    font-size: 18px;
    font-weight: 200 !important;
    margin-top: 30px;
}
.sanpham .btn-ketqua {
    margin-top: 50px;
    margin-right: 0%;
}
@font-face {
    font-family: "iCiel DIN Pro Condensed";
    src: url(/fonts/DinPro/DINPro-CondMedium.ttf);
    font-weight: 500;
}
.thongtingoi {
    /* background-color: #e7f1e9; */
}
.thongtingoi .item .hd1 {
    font-family: "Open Sans", sans-serif;
    color: #097364;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 0;
}
.thongtingoi .item .hd2 {
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 1.6;
    font-weight: 200;
}
.thongtingoi .item .title h4 {
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 0;
}
.thongtingoi .item .desc span {
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
.text-center-LFSAD {
    text-align: justify;
}
.thongtingoi ul {
    list-style: none; /* Remove default bullets */
}

.thongtingoi ul li::before {
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #03402f; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}
.thongtingoi .item .desc {
    /* border: 2px dashed #608f6c; */
    /* color: #faefe3; */
    padding: 0 45px;
    font-size: 18px;
    font-weight: 200;
    position: relative;
    /* height: 100%; */
    margin-top: 8px;
}
.thongtingoi .item img.hoicham {
    position: absolute;
    bottom: -30px;
    right: 0;
}
.thongtingoi .itembg {
    padding: 25px 0;
    height: 250px;
    background-color: rgb(13, 99, 87);
}
.thongtingoi .itembg.c {
    height: 200px;
}
.thongtingoi .itembg h3 {
    font-family: "iCiel DIN Pro Condensed";
    font-size: 28px;
    color: #faefe3;
    text-transform: uppercase;
    inline-size: max-content;
}
.thongtingoi .itembg .desc1 {
    font-size: 18px;
    border-top: 1px solid #097364;
    padding-top: 10px;
}

.thongtingoi .item .image {
    height: 230px;
    position: relative;
    width: 100%;
}
.thongtingoi .item .image .avatar {
    width: 332.525px;
    height: 552.013px;
    top: 0px;
    left: 0px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.thongtingoi .item .image .avatar.c1 {
    background-image: url(https://w.ladicdn.com/s650x900/60bf1c0b1a02f2001216e7d5/landingpage-level10-2-20210715120101.png);
}
.thongtingoi .item .image .avatar.c2 {
    background-image: url(https://w.ladicdn.com/s650x900/60bf1c0b1a02f2001216e7d5/landingpage-level10-3-20210715120110.png);
}
.thongtingoi .item .image .avatar.c3 {
    background-image: url(https://w.ladicdn.com/s650x900/60bf1c0b1a02f2001216e7d5/landingpage-level10-4-20210715120119.png);
}
.thongtingoi .item .titlea {
    background-color: rgb(239, 239, 239);
    border-radius: 13px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.thongtingoi .item .titlea .gr-tl {
    font-family: "Open Sans", sans-serif;
    color: #03402f;
    font-size: 21px;
    text-align: center;
    line-height: 1.6;
    max-width: 1080px;
}
.DGESGH2_1 {
    font-size: 25px !important;
    line-height: 31px;
}
.DGESGH2 {
    font-size: 25px !important;
}
.DGESGH1 {
    font-size: 31px !important;
}
.DGESGH {
    font-size: 21px !important;
}
